<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{title}}</title>
    <link rel="stylesheet" href="{{css}}">
  </head>
  <body>
    <div class="wrapper">
      <nav class="main-nav" style="background-color:black">
        <ul>
            <li><img src="/img/logo_.png" width="150" style="height:30px; position: relative;"> </li>
            <li><a href="/">Home</a></li>
            <li><a href="/product/products">Products</a></li>
             {{#if currentSession}}
            <li><a href="/general/logOut">logOut</a></li>
             {{#if_clerk currentSession.type}}
             
            {{/if_clerk}}
            
             {{else}}
            <li><a href="/general/contactus">Sign Up</a></li>
            <li><a href="/general/signin">Sign in</a></li>
            {{/if}}
           
             <li>
                 <form method="POST" action="/product/basicSearch" style="display: block; position: relative;padding:0;border-radius: 4px 4px 4px 4px; background:#ffc107" >
                    <select name="product-search" id="product-search" style="height: 30px;width:75%; border:none;outline:none;">
                        <option value="/product/products" {{if_eq page "/product/products"}}>All Products</option>
                        <option value="/product/babyCare"  {{if_eq page "/product/babyCare"}}>Baby-Care</option>
                        <option value="/product/valentine"  {{if_eq page "/product/valentine"}}>Valentine's-Day</option>
                        <option value="/product/electronics"  {{if_eq page "/product/electronics"}}>Electronics</option>
                        <option value="/product/bags"  {{if_eq page "/product/bags"}}>Bags</option>
                    </select>
                    <input type="submit" value="Search" style="left:-5px;position:relative;height: 30px; width:20%;border:none;outline:none;cursor:pointer;background:#ffc107">
                  </form>
              </li>
              {{#if currentSession}}
              <li><strong style="color:coral;"> Hi {{currentSession.firstName}} {{currentSession.lastName}} !</strong></li>
              {{/if}}
        </ul>
      </nav>
      <br>
      {{{body}}}
    </div>
    <div class="before-footer">
      <p>
        Get to Know Us
        <br><br>
        Careers
        <br><br>
        Wish Tree and Our Planet
        <br><br>
        Investor Relations
        <br><br>
        Press Releases
        <br><br>
        Independently Publish with Us 
      </p>
      <p>
        Make Money with Us
        <br><br>
Sell on WishTree
<br><br>
Sell Under WishTree Accelerator
<br><br>
AmazWishTreeon Associates
<br><br>
Sell on WishTree Handmade
<br><br>
Advertise Your Products

      </p>
      <p>
        Let Us Help You
<br><br>       
Shipping Rates & Policies
<br><br>
WishTree Prime
<br><br>
Returns Are Easy
<br><br>
Manage your Content and Devices
<br><br>
Customer Service
      </p>
    </div>
    <footer>
      <p>All &copy; 2020 WishTree.com, Inc. or its affiliates</p>
    </footer>
            
  </body>
</html> 
      