<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{title}}</title>
    <link rel="stylesheet" href="{{css}}">
  </head>
  <body>
    <div class="wrapper">
      <nav class="main-nav" style="background-color:black">
        <ul>
            <li><img src="/img/logo_.png" width="150" style="height:30px; position: relative;"> </li>
            <li><a href="/">Home</a></li>
            <li><a href="/product/products">Products</a></li>
             {{#if currentSession}}
            <li><a href="/general/logOut">LogOut</a></li>
             {{#if_clerk currentSession.type}}
             
            {{/if_clerk}}
            
             {{else}}
            <li><a href="/general/contactus">Sign Up</a></li>
            <li><a href="/general/signin">Sign in</a></li>
            {{/if}}
           
             <li>
                 <form method="POST" action="/product/basicSearch" style="display: block; position: relative;padding:0;border-radius: 4px 4px 4px 4px; background:#ffc107" >
                    <select name="product-search" id="product-search" style="height: 30px;width:75%; border:none;outline:none;">
                        <option value="/product/products" {{if_eq page "/product/products"}}>All Products</option>
                        <option value="/product/babyCare"  {{if_eq page "/product/babyCare"}}>Baby-Care</option>
                        <option value="/product/valentine"  {{if_eq page "/product/valentine"}}>Valentine's-Day</option>
                        <option value="/product/electronics"  {{if_eq page "/product/electronics"}}>Electronics</option>
                        <option value="/product/bags"  {{if_eq page "/product/bags"}}>Bags</option>
                    </select>
                    <input type="submit" value="Search" style="left:-5px;position:relative;height: 30px; width:20%;border:none;outline:none;cursor:pointer;background:#ffc107">
                  </form>
              </li>
              {{#if currentSession}}
              <li><strong style="color:coral;"> Hi {{currentSession.firstName}} {{currentSession.lastName}} !</strong></li>
              {{/if}}
        </ul>
      </nav>
      <br>
      {{{body}}}
    </div>
    <div class="before-footer">
      <p>
        <a href="#">Get to Know Us</a>  
        <br><br>
        <a href="#">Careers</a> 
        <br><br>
        <a href="#">Wish Tree and Our Planet</a>
        <br><br>
        <a href="#">Investor Relations</a> 
        <br><br>
        <a href="#">Press Releases</a> 
        <br><br>
        <a href="#">Independently Publish with Us</a> 
      </p>
      <p>
        <a href="#">Make Money with Us</a>  
        <br><br>
        <a href="#">Sell on WishTree</a>
        <br><br>
        <a href="#">Sell Under WishTree Accelerator</a>
        <br><br>
        <a href="#">AmazWishTreeon Associates</a>
        <br><br>
        <a href="#">Sell on WishTree Handmade</a>
        <br><br>
        <a href="#">Advertise Your Products</a>
      </p>
      <p>
        <a href="#">Let Us Help You</a>
        <br><br>       
        <a href="#">Shipping Rates & Policies</a>
        <br><br>
        <a href="#">WishTree Prime</a>
        <br><br>
        <a href="#">Returns Are Easy</a>
        <br><br>
        <a href="#">Manage your Content and Devices</a>
        <br><br>
        <a href="#">Customer Service</a>
      </p>
    </div>
    <footer>
      <p>All &copy; 2020 WishTree.com, Inc. or its affiliates</p>
    </footer>
            
  </body>
</html> 
      