          
<section>
    <header class="showcase">
        <h3>Shopping is fun ....</h3>
    </header>           
</section>
<section>
    <p style="background-color: whitesmoke; "><h2 style="text-align: left;">Product Category</h2></p>
    <section class="portfolio">
        {{#each products}}
        <a href="{{page}}">
            <div class="box">
                <h3 style="color:white;">{{this.category}}</h3>
                <p><img src='../../uploads/{{img}}'></p>
            </div>
        </a>
        {{/each}}
    </section>
<div class="homeSection" style="background-color:#AAABB8">
   <h2  style="text-align: left;">On Promotion</h2>
        <section class="portfolio11" >
            {{#each promotion}}
                <div class="box1">
                    <a href="/product/onPromotion"><img src='../../uploads/{{img}}'><br>See More</a>          
                </div> 
            {{/each}}  
         </section>
        <p></p><p></p>
</div>
<div class="homeSection">
    <p><h2  style="text-align: left; color:white">Best Seller Section</h2></p>
    <section class="portfolio11">
        {{#each bestSeller}}
            <div class="box1"><a href="/product/bestSeller"><img src='../../uploads/{{img}}'>Shop Now</a></div>
        {{/each}}   
    </section>
</div>
  