
    <div class="container-grid">
          {{{nav}}}
        <div class="right">
            <h2 style="text-align: left;"><a href="/product/products">Products</a> > Baby Care</h2>
            <section class="portfolio1">
             {{#each products}}
                <div class="box1">
                    <p><h1>{{title}}</h1></p>
                    <p><img src='../../uploads/{{img}}' height="220px" width="200"></p>
                    <p><h2>CAD ${{price}}</h2></p>
                    <p>{{description}}</p>
                    <p><a href="/product/productDescription/{{id}}"><input type="button" class="btn1" value="view"></a></p>
                </div>
            {{/each}}
            </section>
        </div>
    </div>
                
                
                 
   

