<h2>Product Description</h2>
<div class="box-area">
    <form name="orders" method="POST" action="/product/productDescription">
<div class="inner-box">
     
    <div class="single-box1" >
       
       <p><img src="../../uploads/{{this.img}}" width="200px"> </p>
    </div>
    <div class="single-box2">
                     <p><h2>{{title}}</h2></p>
                     <p>{{description}}</p>
                     <p><h2>CAD ${{price}}</h2></p>
                     <input type="hidden" name="img" id="" value="{{img}}">
                     <input type="hidden" name="title" id="" value="{{title}}">
                     <input type="hidden" name="description" id="" value="{{description}}">
                     <input type="hidden" name="price" id="" value="{{price}}">
                      <strong>Quantity<strong>
        <select name="quantity" style="height: 30px;">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
        </select>
        <p>
 <input type="submit" class="btn1" value="Add to the Shopping Cart"></p>
    </div>
    
</div>

   
   
   
  
                        
                
                
                 
   

