
<h2><strong>View Your Orders</strong></h2>
<div class="box-area">
    
    <form name="placeOrder" method="post" action="/product/shoppingCart">
    
    {{#each data}}
    <div class="inner-box">
    
        <div class="single-box1" >
        <p><img src="../../uploads/{{this.img}}" width="100px"> </p>
        </div>
        <div class="single-box2">
            <h2 style="color: darkgreen;">{{this.title}}</h2>
        <p style="color:crimson">Price : CAD${{this.price}}</p>
        <p><strong>Quantity Orderd : </strong>{{this.quantity}}</p>
        <p><strong>Description : </strong>{{this.description}}</p>
        </div>
        <div class="single-box3">
            <h3 style="color: darkgreen;">Order Summery</h3>
            <p>items({{this.quantity}}) </p>
            <p>Total : CAD$ {{this.total}}</p>
        </div>
    </div>
     {{/each}}
     {{#if status}}
     <div class="inner-box">
     <div class="single-box1"><a href="/product/products"><input type="button" class="btn1" value ="Add Products"></a></div>
     <div class="single-box2"><input type="submit" class="btn1" value ="Place your Order"></div>
     <div class="single-box3">
        <h3 style="color:crimson" >Total : CAD$ {{balance}}</h3></div>
     </div>
    

    {{else}}
    <h2 style="color:crimson" >Your Cart is Empty !</h2>
    
    {{/if}}
  
    
    </form>
</div>
